{% extends 'base.html' %}

{% block content %}
<div class="container">
	<!DOCTYPE HTML>
		<body>

			<!-- Banner -->
				<section id="banner">
					<h2><strong>Tripi</strong> is an event creation app</h2>
					<p>Brought to you Team Tripi</p>
					<ul class="actions">
						<li><a href="/main.login" class="button special">Get started</a></li>
					</ul>
				</section>

			<!-- One -->
				<section id="one" class="wrapper special">
					<div class="inner">
						<header class="major">
							<h2>Lorem ipsum feugiat tempus</h2>
						</header>
						<div class="features">
							<div class="feature">
								<i class="fa fa-diamond"></i>
								<h3>Etiam consequat</h3>
								<p>Sed tempus feugiat adipiscing nisl cursus aliquam dolore.</p>
							</div>
							<div class="feature">
								<i class="fa fa-copy"></i>
								<h3>Sed adipiscing</h3>
								<p>Sed tempus feugiat adipiscing nisl cursus aliquam dolore.</p>
							</div>
							<div class="feature">
								<i class="fa fa-paper-plane-o"></i>
								<h3>Feugiat nullam</h3>
								<p>Sed tempus feugiat adipiscing nisl cursus aliquam dolore.</p>
							</div>
							<div class="feature">
								<i class="fa fa-save"></i>
								<h3>Amet imperdiet</h3>
								<p>Sed tempus feugiat adipiscing nisl cursus aliquam dolore.</p>
							</div>
							<div class="feature">
								<i class="fa fa-envelope-o"></i>
								<h3>Tempus lorem</h3>
								<p>Sed tempus feugiat adipiscing nisl cursus aliquam dolore.</p>
							</div>
						</div>
					</div>
				</section>
		</body>
	</html>
</div>

{% endblock %}
